.Loader {
    border: 24px #3498db dotted; 
    border-top: 24px transparent solid;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s ease-out infinite;
    
   
}
.Wrapper {
    background-size: contain;
    background-repeat:no-repeat;
    background-image: url('../../../assets/coat.png');
    background-position: center center;   
}

@keyframes spin {
    /* 0% { transform: rotate(0deg); } */
    100% { transform: rotate(360deg); }
}

.Striploader {
    /* display: inline-block; */
    position: relative;
    width: 120px;
    height: 120px;
    top: 32%;
    left: 23%;
  }
  .Striploader div {
    opacity: 0.8;
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: gold;
    animation: Striploader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .Striploader div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
  }
  .Striploader div:nth-child(2) {
    left: 26px;
    opacity: 0.65;
    animation-delay: -0.12s;
  }
  .Striploader div:nth-child(3) {
    left: 45px;
    opacity: 0.5;
    animation-delay: 0;
  }
  @keyframes Striploader {
    0% {
      top: 6px;
      height: 51px;
    }
    50%, 100% {
      top: 19px;
      height: 26px;
    }
  }
  