.Loader {
    border: 24px #3498db dotted; 
    border-top: 24px transparent solid;
    /* background-color: transparent; */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s ease-out infinite;
    /* background-image: linear-gradient(to right bottom, transparent 0%, #3498db 100%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(to right, red, orange);
    background-origin: border-box;
    background-clip: content-box, border-box; */
   
}
.Wrapper {
    background-size: contain;
    background-repeat:no-repeat;
    background-image: url('../../../assets/coat.png');
    background-position: center center;   
}

@keyframes spin {
    /* 0% { transform: rotate(0deg); } */
    100% { transform: rotate(360deg); }
}