.CardFooterOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: grey;
    z-index: 1;
    color: black;
    padding: 5px 0 5px 0;
    height: auto;
    min-height: 90px;
}

.OverlayLink{
    margin-left: 10px;
}