.CardFooterOverlay {
    text-align: center;
    background-color: blue;
    z-index: 1;
    color: red;
    width: 200px;
    padding: 10px 0 0 0;
    height: auto;
    min-height: 90px;
    margin: -100px 0px 0px -100px;
    /* display: none; */
}

.CardFooterOverlay:hover {
    display: none;
}