.Layout {
    /* width: 100vw; */
    height: 100vh;
    background-image: url(../../../assets/disclaimer.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    overflow: hidden;
    position: absolute;
    top: 120px;
}

.Disclaimer {
    top: 300px;
    left: 300px;
    position: relative;
    width: min-content;
    text-align: right;
    font-size: xx-large;
    background-color: darkred;
    border-radius: 10px;
    padding: 10px;
}